# Server
PORT=
MODE_ENV=

# Database
MONGO_URI=

# NIBSS Integration
NIBBS_BASE_URL=
NIBSS_API_KEY=
NIBSS_API_SECRET=

# Authentication
JWT_SCRET=
JWT_EXPIRES_IN=

# Transfer Limites
DAILY_TRANSFER_LIMIT=
MAX_SINGLE_TRANSFER=
